In [9]:
import requests
import pandas as pd
from requests_html import HTMLSession

In [ ]:
# sector_index = {
#     'NIFTY 50' : 'NIFTY%2050',
#     'NIFTY NEXT 50' : 'NIFTY%20NEXT%2050',
#     'NIFTY MIDCAP 50' : 'NIFTY%20MIDCAP%2050',
#     'NIFTY AUTO' : 'NIFTY%20AUTO',
#     'NIFTY BANK' : 'NIFTY%20BANK',
#     'NIFTY ENERGY' : 'NIFTY%20ENERGY',
#     'NIFTY FINANCIAL SERVICES' : 'NIFTY%20FINANCIAL%20SERVICES',
#     'NIFTY FMCG' : 'NIFTY%20FMCG',
#     'NIFTY IT' : 'NIFTY%20IT',
#     'NIFTY MEDIA' : 'NIFTY%20MEDIA',
#     'NIFTY METAL' : 'NIFTY%20METAL',
#     'NIFTY PHARMA': 'NIFTY%20PHARMA',
#     'NIFTY PSU BANK' : 'NIFTY%20PSU%20BANK',
#     'NIFTY REALITY' : 'NIFTY%20REALTY',
#     'NIFTY PRIVATE BANK' : 'NIFTY%20PRIVATE%20BANK',
#     'NIFTY HEALTHCARE' : 'NIFTY%20HEALTHCARE%20INDEX',
#     'NIFTY CONSUMER DURABLES' : 'NIFTY%20CONSUMER%20DURABLES',
#     'NIFTY OIL & GAS' : 'NIFTY%20OIL%20%26%20GAS',
#     'NIFTY COMMODITIES' : 'NIFTY%20COMMODITIES',
#     'NIFTY INDIAN CONSUMPTION' : 'NIFTY%20INDIA%20CONSUMPTION',
#     'NIFTY CPSE' : 'NIFTY%20CPSE',
#     'NIFTY INFRA' : 'NIFTY%20INFRASTRUCTURE',
#     'NIFTY MNC' : 'NIFTY%20MNC',
#     'NIFTY PSE' : 'NIFTY%20PSE',
#     'NIFTY SERVICE' : 'NIFTY%20SERVICES%20SECTOR'
# }

In [10]:
sector_live_data_url = 'https://www.nseindia.com/api/equity-stockIndices?index=NIFTY%2050'

# Creating a session object
session = HTMLSession()

# Make a GET request to the website to obtain the initial cookie
response = session.get('https://www.nseindia.com')

# Extract the cookie value from the response
cookie_value = session.cookies.get('cookie_name')

headers = {
    'Referer': 'https://www.nseindia.com',
    'Cookie': f'cookie_name={cookie_value}',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36'
}

response = session.get(sector_live_data_url)
response

In [12]:
df = pd.DataFrame(response.json()['data'])[['priority','symbol']]
df.head(5)

   priority    symbol
0         1  NIFTY 50
1         0    GRASIM
2         0      BPCL
3         0      HDFC
4         0  RELIANCE

In [13]:
df1 = df[df['priority'] != 1]
df1.head(5)

   priority    symbol
1         0    GRASIM
2         0      BPCL
3         0      HDFC
4         0  RELIANCE
5         0      SBIN

In [14]:
df2 = df1.drop(['priority'],axis=1)
df2.head(5)

     symbol
1    GRASIM
2      BPCL
3      HDFC
4  RELIANCE
5      SBIN

In [15]:
df2['SECTOR'] = 'NIFTY 50'

In [16]:
df2 = df2.rename(columns={'symbol':'SYMBOL'})
df2.head(5)

     SYMBOL    SECTOR
1    GRASIM  NIFTY 50
2      BPCL  NIFTY 50
3      HDFC  NIFTY 50
4  RELIANCE  NIFTY 50
5      SBIN  NIFTY 50